{% extends 'commoncode/common_template.html' %}
{% block content %}
<div class="common-template-body">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      
      <p class="lead" style="text-align: center;">Personal Projects Web Site</p>
      <p>Click on a button to go to that app's website</p>

      <a class="btn btn-dark" href="/bookselection">Book Selection</a>
      <p></p>
      <a class="btn btn-dark" href="/bookmanager">Book Management</a>

    </div>
  </div>
</div>
{% endblock %}
